@page {
  margin: 1mm;
}
body {
  background-color: rgb(255, 255, 255);
}

table,
th,
td {
  border: 0.7mm solid black;
}

table {
  border-spacing: 1.5mm;
}

td {
  border-width: 2px;
  border-color: black;
  width: 57mm;
  height: 88mm;
}
#id_card_cutting_size {
  border: 2px solid black;
  border-radius: 4mm;
  width: 54mm;
  height: 86mm;
  margin: 1mm;
}
#safe_area {
  width: 48mm;
  height: 80mm;
  background-image: url("../template_images/2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: top;
  background-position: 0mm 0mm;
  vertical-align: top;
  margin: 3mm;
  border: 1px solid black;
}

.first_section {
  position: relative;
  /* bottom: 8mm; */
  height: 11mm;
}

#punch_hole{
  position: relative;
  height: 1.7mm;
  width: 14mm;
  background-color: gray;
  left: 36%;
  top: 0.5mm;
  border-radius: 2mm;
}

#institute_logo {
  position: relative;
  width: 10mm;
  height: 10mm;
  border-radius: 2.64mm;
  top: 1mm;
  left: 1.5mm;
}

#institute_name {
  height: 7.9mm;
  width: 41.5mm;
  position: relative;
  bottom: 9mm;
  left: 13mm;
  font-size: 2.7mm;
  text-align: left;
  display: block;
  line-height: 5mm;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: bolder;
  color: black;
}

.second_section {
  text-transform: uppercase;
  position: relative;
  height: 59mm;
  text-wrap: wrap;
  padding-top: 3%;
  overflow: hidden;
}

#child-image {
  width: 21mm;
  height: 25mm;
  margin-left: 13mm;
  margin-bottom: 0.8mm;
  border-radius: 4.4mm;
  position: relative;
  top: -1mm;
}

.child-name {
  color: red;
  font-size: 3mm;
  margin-left: 0mm;
  position: relative;
  padding-left: 6mm;
  padding-right: 7mm;
  top: -2mm;
  font-weight: bold;
  text-align: center;
  height: 8.3mm;
}

.child_session {
  font-size: 2.5mm;
  margin-bottom: 0.9mm;
  position: relative;
  text-align: right;
  top: -2mm;
  font-weight: bold;
  right: 5.5mm;
  color: black;
}

.child-class {
  font-size: 2.2mm;
  margin-bottom: 0.9mm;
  position: relative;
  text-align: left;
  top: -3mm;
  left: 12.5mm;
  font-weight: bold;
  color: black;
}

.child-details {
  font-size: 2mm;
  text-align: left;
  padding-left: 7mm;
  padding-right: 5mm;
  position: relative;
  top: -3mm;
  text-wrap: wrap;
  line-height: 3.4mm;
}

.red_details {
  color: rgb(12, 129, 202);
  font-weight: bold;
  text-wrap: wrap;
}

#mother_name {
  display: none;
}

#stud_address {
  text-align: center;
}

#little_space {
  margin-right: 1mm;
}

#space-left {
  margin-left: 1mm;
}

.third_section {
  position: relative;
  font-size: 2.2mm;
  text-align: center;
  padding-top: 6%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  height: 8mm;
  bottom: 4.7mm;
}
#principal_sign {
  position: relative;
  top: -5.4mm;
  right: 3mm; 
}
#principal_sign span {
  font-size: 2.2mm;
  position: relative;
  left: 40%;
  top: 1.5mm;
  color: rgb(12, 129, 202);
  font-weight: bolder;
}

#principal_sign img {
  height: 4mm;
  width: 12mm;
  position: relative;
  left: 67.5%;
  top: 0mm;
}
