@page {
  margin-top: 5mm; /* Adjust top margin as needed */
  margin-bottom: 5mm; /* Adjust bottom margin as needed */
}
body {
    background-color: rgb(255, 255, 255);
  }
  
  table,
  th,
  td {
    border: 0.7mm solid black;
  }
  
  table {
    border-spacing: 1.5mm;
  }
  
  td {
    border-width: 1px;
    border-color: black;
    width: 54mm;
    height: 85.5mm;
    background-image: url('../template_images/4.png');
    background-size: 101%;
    background-repeat: no-repeat;
    vertical-align: top;
  
  }
  .first_section{
    position: relative;
    /* bottom: 8mm; */
    height: 14mm;
  }
  #institute_logo{
    position: relative;
    width: 11mm;
    height: 11mm;
    border-radius: 2.64mm;
    top: 2mm;
    left: 41.5mm;
  }
  #institute_name{
    height: 7.9mm;
    width: 41.5mm;
    position: relative;
    bottom: 8mm;
    left: 2mm;
    font-size: 4mm;
    text-align: left;
    display: block;
    line-height: 5mm;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bolder;
    color: white;
    
  
  }
  .second_section {
    text-transform: uppercase;
    position: relative;
    height: 62mm;
    text-wrap:wrap;
    padding-top: 3%;
    overflow: hidden;
  }
  
  #child-image{
    width: 18.6mm;
    height: 18.6mm;
    margin-left: 18mm;
    margin-bottom: -1mm;
    border-radius: 9.4mm;
    position: relative;
    top: -1.1mm;
  }
  
  .child-name {
    color: red;
    font-size: 3.7mm;
    /* margin-left: 10mm; */
    position: relative;
    padding-left: 1mm;
      padding-right: 1mm;
    top: 1mm;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .child-class {
    font-size: 2.2mm;
    margin-bottom: 0.9mm;
    position: relative;
    text-align: center;
    top: 1mm;
    font-weight: bold;
  }
  
  .child-details {
    font-size: 2.5mm;
    text-align: left;
    padding-left: 4mm;
    padding-right: 4mm;
    position: relative;
    top: 1mm;
    text-wrap: wrap;
    line-height: 3.4mm;
  }
  
  .red_details {
    color: red;
    font-weight: bold;
    text-wrap: wrap;
  }
  #stud_address{
    text-align: center;
  }
  #little_space {
    margin-right: 1mm;
  }
  
  #space-left {
    margin-left: 1mm;
  }
  .third_section{
    position: relative;
    font-size: 2.5mm;
    text-align: center;
    padding-top: 1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 7mm;
  }
  #principal_sign{
    position: relative;
    top: -4.7mm;
    right: -3.5mm;
    
  }
  #principal_sign span {
    font-size: 2.2mm;
    position: relative;
    left: 40%;
    top: 1.5mm;
    color: rgb(12, 129, 202);
    font-weight: bolder;
  }
  
  #principal_sign img {
    height: 4mm;
    width: 12mm;
    position: relative;
    left: 67.5%;
    top: 0mm;
  }