@page {
  margin:1mm;
}
body {
  background-color: rgb(255, 255, 255);
}

table,
th,
td {
  border: 0.7mm solid black;
}

table {
  border-spacing: 1.5mm;
}

td {
  border-width: 2px;
  border-color: black;
  width: 57mm;
  height: 88mm;
  

}
#id_card_cutting_size{
  border: 2px solid black;
  border-radius: 4mm;
  width: 54mm;
  height: 86mm;
  margin: 1mm;
}
#safe_area{
  width: 48mm;
  height: 80mm;
  background-image: url('../template_images/6.png');
  background-size: 101%;
  background-repeat: no-repeat;
  vertical-align: top;  
  margin: 3mm;
  border: 1px solid black;
} 
#punch_hole{
  position: relative;
  height: 1.7mm;
  width: 14mm;
  background-color: white;
  left: 36%;
  top: 0.5mm;
  border-radius: 2mm;
}
.first_section {
  position: relative;
  /* bottom: 8mm; */
  height: 17mm;
}

#institute_logo {
  position: relative;
  width: 10mm;
  height: 10mm;
  border-radius: 2.64mm;
  top: 1mm;
  left: 1.5mm;
}

#institute_name {
  height: 11mm;
  width: 41.5mm;
  position: relative;
  bottom: 8mm;
  left: 12mm;
  font-size: 2.8mm;
  text-align: left;
  display: block;
  line-height: 5mm;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: bold;
  color: white;
}

.second_section {
  text-transform: uppercase;
  position: relative;
  height: 59mm;
  text-wrap: wrap;
  padding-top: 3%;
  overflow: hidden;
}

#child-image {
  width: 15.7mm;
  height: 15.8mm;
  margin-left: 2mm;
  margin-bottom: 0.8mm;
  border-radius: 7.4mm;
  position: relative;
  top: 0.5mm;
}

.child-name {
  color: red;
  font-size: 3.5mm;
  margin-left: 20mm;
  position: relative;
  padding-left: 0mm;
  padding-right: 1mm;
  top: -17mm;
  font-weight: bold;
  text-align: center;
  height: 8.3mm;
}

.child_session {
  font-size: 2.5mm;
  margin-bottom: 0.9mm;
  position: relative;
  text-align: right;
  top: -15mm;
  font-weight: bold;
  right: 5.5mm;
  color: white;
}

.child-class {
  font-size: 2mm;
  margin-bottom: 0.9mm;
  position: relative;
  text-align: left;
  top: -11.5mm;
  left: 24.5mm;
  font-weight: bold;
  color: white; 
}

.child-details {
     font-size: 2.5mm;
    text-align: left;
    padding-left: 2mm;
    padding-right: 3mm;
    position: relative;
    top: -10mm;
    text-wrap: wrap;
    line-height: 3.4mm;
}

.red_details {
  color: red;
  font-weight: bold;
  text-wrap: wrap;
}

#stud_address {
  text-align: center;
}

#little_space {
  margin-right: 1mm;
}

#space-left {
  margin-left: 1mm;
}

.third_section {
  position: relative;
  font-size: 2.5mm;
  text-align: center;
  padding-top: 4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  height: 7mm;
  bottom: 10mm;

}

#principal_sign {
  position: relative;
  top: -9.7mm;
  right: -0.5mm;

}

#principal_sign span {
  font-size: 2.2mm;
  position: relative;
  left: 40%;
  top: 1.5mm;
  color: rgb(12, 129, 202);
  font-weight: bolder;
}

#principal_sign img {
  height: 4mm;
  width: 12mm;
  position: relative;
  left: 67.5%;
  top: 0mm;
}
