@page {
  margin:1mm;
}
body {
  background-color: rgb(255, 255, 255);
}

table,
th,
td {
  border: 0.7mm solid black;
}

table {
  border-spacing: 1.5mm;
}

td {
  border-width: 2px;
  border-color: black;
  width: 88mm;
  height: 57mm;
  

}
#id_card_cutting_size{
  border: 2px solid black;
  border-radius: 4mm;
  width: 86mm;
  height: 54mm;
  margin: 1mm;
}
#safe_area{
  width: 80mm;
  height: 48mm;
  background-image: url('../template_images/h4.png');
  background-size: 102%;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3mm;
  border: 1px solid black;
  background-position: 0mm 0mm;
}
#punch_hole{
  position: relative;
  height: 1.7mm;
  width: 14mm;
  background-color: white ;
  left: 43%;
  top: 0.5mm;
  border-radius: 2mm;
}
  .first_section {
    position: relative;
    /* bottom: 8mm; */
    height: 1mm;
  }
  #institute_logo {
    position: relative;
    width: 12mm;
    height: 12mm;
    border-radius: 7.64mm;
    top: -2mm;
    left: 68mm;
  }
  #institute_name {
    height: 7.9mm;
    width: 54.5mm;
    position: relative;
    bottom: 10mm;
    left: 21mm;
    font-size: 4.1mm;
    text-align: left;
    display: block;
    line-height: 5mm;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bolder;
    color: black;
  }
  .second_section {
    text-transform: uppercase;
    position: relative;
    height: 41mm;
    text-wrap: wrap;
    padding-top: 0%;
    overflow: hidden;
    top: 10mm;
  }
  
  #child-image {
    width: 15.8mm;
    height: 15.5mm;
    margin-left: 4mm;
    border-radius: 3.4mm;
    position: relative;
    top: 6mm;
    float: left;
    left: -3mm;
  }
  .details {
    float: left;
  }
  .child-name {
    color: red;
    font-size: 3mm;
    /* margin-left: 10mm; */
    position: relative;
    padding-left: 1mm;
    padding-right: 1mm;
    top: -4.5mm;
    font-weight: bold;
    text-align: center;
    left: 0mm;
  }
  
  .child-class {
    font-size: 2.5mm;
    margin-bottom: 0.9mm;
    position: relative;
    text-align: center;
    top: -2mm;
    font-weight: bold;
    right: 4mm;
  }
  
  .child-details {
    font-size: 2.2mm;
    text-align: left;
    padding-left: 20mm;
    padding-right: 17mm;
    position: relative;
    top: -2.7mm;
    text-wrap: wrap;
    line-height: 3.4mm;
    font-weight: bold;
  }
  #mother_name{
    display: none;
  }
  .red_details {
    color: red;
    font-weight: bold;
    text-wrap: wrap;
  }
  #stud_address {
    text-align: center;
  }
  #little_space {
    margin-right: 1mm;
  }
  
  #space-left {
    margin-left: 1mm;
  }
  .third_section {
    position: relative;
    font-size: 2.5mm;
    text-align: center;
    padding-top: 1%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
    height: 2mm;
    left: 2%;
    bottom: 7mm;
  }
  #principal_sign {
    position: relative;
    top: -7mm;
    right: -1.5mm;
  }
  #principal_sign span {
    font-size: 2.2mm;
    position: relative;
    left: 62%;
    top: 1mm;
    color: black;
    font-weight: bolder;
  }
  
  #principal_sign img {
    height: 4mm;
    width: 12mm;
    position: relative;
    left: 80.5%;
    top: -1mm;
  }
  